{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":6,"column":0},"action":"insert","lines":["Click==7.0","Flask==1.1.1","itsdangerous==1.1.0","Jinja2==2.10.3","MarkupSafe==1.1.1","Werkzeug==0.16.0",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1573043227341,"hash":"3ec8e04c90942744b901a6173bc913d3828ac293"}